<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      th, td {
        border: 1px solid #444444;
        padding: 10px;
      }
      table:hover{
        background: peachpuff;
      }
    </style>
  </head>
  <body style="text-align: center;">
      <button style="padding:10px;" onclick="location.href='/api/group/'">뒤로가기</button>

    <h1><%= idx %></h1>
    <div style="display: flex;justify-content:center;">
        <table style="border: 1px solid #444444;
        border-collapse: collapse;">
            <tr style="background: #CCFFFF;">
              <th>조이름</th>
              <th>이름</th>
            </tr>
            <% for(key in body){%>
              <tr>
                <% if(key == 0) { %>
                  <td rowspan= "<%= body.length %>" align = "center" bgcolor="<%= color %>"><%= idx %></td>              
                <% } %>
                <td><%= body[key]["name"] %></td>
              </tr>
            <%}%>        
            
          </table>
    </div>
  </body>
</html>
